<li><a class="waves-effect" href="#matches">Matches</a></li>
<li><a class="waves-effect" href="#standings">Standings</a></li>
<li><a class="waves-effect" href="#scorers">Scorers</a></li>
<li><a class="waves-effect" href="#teams">Teams</a></li>
<li><a class="waves-effect" href="#favorite-team">Favorite Team</a></li>
<li><a class="waves-effect" href="#about">About</a></li>
<li><a class="waves-effect" href="#contact">Contact</a></li>