<div class="row">
	<h2>About</h2>
		<div class="card">
			<div class="card-image">
				<img src="images/banner.jpg">
			</div>
			<center>
				<div class="card-content">
					<p>Soccer Nation is an app that provides the latest information about soccer. Depeloved by Novan Junaedi. Powered by Dicoding, Codepolitan and IDCamp.</p>
				</div>
			</center>
		</div>
</div>