<div class="row">
	<h2>Contact</h2>
	<p>You can contact the administrator for more information about this app.</p>
	<div class="col s12 m6">
		<div class="card blue-grey darken-1">
			<div class="card-content white-text">
				<span class="card-title">Instagram</span>
			</div>
			<div class="card-action">
				<a href="https://www.instagram.com/novanjunaedi">Follow</a>
			</div>
		</div>
	</div>

	<div class="col s12 m6">
		<div class="card blue-grey darken-1">
			<div class="card-content white-text">
				<span class="card-title">Facebook</span>
			</div>
			<div class="card-action">
				<a href="https://www.instagram.com/novanjunaedi98">Add</a>
			</div>
		</div>
	</div>

	<div class="col s12 m6">
		<div class="card blue-grey darken-1">
			<div class="card-content white-text">
				<span class="card-title">Email</span>
			</div>
			<div class="card-action">
				<a href="mailto:junaedinovan98@gmail.com">Send message</a>
			</div>
		</div>
	</div>

	<div class="col s12 m6">
		<div class="card blue-grey darken-1">
			<div class="card-content white-text">
				<span class="card-title">Twitter</span>
			</div>
			<div class="card-action">
				<a href="https://www.twitter.com/novanjunaedi98">Follow</a>
			</div>
		</div>
	</div>
</div>