<h2>Matches</h2>
<p>Premier League Match Schedule</p>
<div class="row">
	<div class="col s12">
		<!-- Berisi konten artikel -->
		<div class="card">
      <div class="table-wrapper" style="overflow-x: scroll;">
            <table class="highlight centered">
                <thead>
                  <tr>
                  	<th>Home</th>
                    <th>&nbsp;</th>
                    <th>Away</th>
                    <th>Home Score</th>
                    <th>Away Score</th>
                    <th>Match Date</th>
                  </tr>
                  </thead>
                  <tbody  id="matches">
               		<!-- Load from API -->   	
                  </tbody>
             </table>
        </div>
     </div>
	</div>
</div>