<h2>Scorers</h2>
<p>Premier League Top Scorers</p>
<div class="row">
	<div class="col s12">
		<!-- Berisi konten artikel -->
		<div class="card">
      <div class="table-wrapper" style="overflow-x: scroll;">
            <table class="highlight centered">
                <thead>
                  <tr>
                  	<th>Player Name</th>
                    <th>Position</th>
                    <th>Team</th>
                    <th>Goals</th>
                  </tr>
                  </thead>
                  <tbody  id="scorers">
               		<!-- Load from API -->   	
                  </tbody>
             </table>
        </div>
     </div>
	</div>
</div>