<h2>Standings</h2>
<div class="row">
	<div class="col s12">
		<!-- Berisi konten artikel -->
		<div class="card">
      <div class="table-wrapper" style="overflow-x: scroll;">
            <table class="highlight">
                <thead>
                  <tr>
                  	<th><center>#</center></th>
                  	<th>&nbsp;</th>
                    <th>Teams</th>
                    <th><center>PG</center></th>
                    <th><center>W</center></th>
                    <th><center>D</center></th>
                    <th><center>L</center></th>
                    <th><center>GF</center></th>
                    <th><center>GA</center></th>
                    <th><center>GD</center></th>
                    <th><center>Pts</center></th>
                  </tr>
                  </thead>
                  <tbody  id="standings">
               		<!-- Load from API -->   	
                  </tbody>
             </table>
        </div>
      </div>
	</div>
</div>